

a {
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(221, 201, 178);
    color: black;
    outline: none;
}

button {
    border-radius: 1px;
    border: 1px solid #c9bebe;
    padding: 5px 7px 5px 7px;
    margin: 5px;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #c9bebe;
}



.navbar {
    position: relative;
    text-align: center;
    top: 7px;
}



#main {
    margin: 100px;
    position: relative;
    text-align: center;
}

#main table {
    display: inline-block;
    margin: 15px auto;
}